*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --col01: rgb(0,0,0,);
    --col02: rgb(80,80,80);
    --col03: rgb(160,160,160);
    --col04: rgb(240,240,240);
    --border: solid 1rem var(--col03);
}

h1{
    color: var(--col02);
    border: var(--border);
    border-style: dashed dotted;
    border-radius: 40rem;
    height: 10rem;
    background-image: radial-gradient( red, blue);
}


#background-video1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

#background-video2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

#background-video3 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    background-color: rgb(117, 116, 59);

}
div {
    margin: 24px auto;
    padding: 24px;
    background-color: rgba(159, 130, 130, 0);
    opacity: 1;
    width: 60%;
    height: 60%;
    text-align: center;
}
input {
    width: 100%;
}
span {
    color: rgba(255, 255, 255, 0);
}


input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #947642;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

input[type="range"]:hover {
  opacity: 1;
}

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 1px;
    background: url('img/2x/heart.png') no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
  }

  input[type="range"]::-moz-slider-thumb {
    width: 35px;
    height: 35px;
    border: 0;
    background: url('img/2x/heart.png') no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
  }

 
 datalist {
position: absolute;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 0;
  background-color: red;
  width: 10px;
  position: absolute;
}






.poem1 {
    max-width: 20%;
    max-height: 20%;
    display: block;
    padding-top: 1rem;
    padding-right: 1rem;
    position: fixed;
    right: 15%;
    top: 3%;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    
      }

      .poem2 {
        max-width: 20%;
        max-height: 20%;
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        right: 10%;
        bottom: 5%;
        position: fixed;
        opacity: 1;
        transition: opacity 0.3s ease-out;
        
          }

          .poem3 {
            max-width: 20%;
            max-height: 20%;
            display: block;
            padding-top: 1rem;
            padding-right: 1rem;
            top: 30%;
            left: 10%;
            position: fixed;
            opacity: 1;
            transition: opacity 0.3s ease-out;
            
              }

              .poem4 {
                max-width: 20%;
                max-height: 20%;
                display: block;
                padding-top: 1rem;
                padding-right: 1rem;
                bottom: 40%;
                left: 30%;
                object-fit: contain;
                position: fixed;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                
                  }

                  .poem5 {
                    max-width: 20%;
                    max-height: 20%;
                    display: block;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    top: 50%;
                    left: 40%;
                    position: fixed;
                    object-fit: scale-down;
                    opacity: 1;
                    transition: opacity 0.3s ease-out;
                    
                      }
    
