*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --col01: rgb(0,0,0,);
    --col02: rgb(80,80,80);
    --col03: rgb(160,160,160);
    --col04: rgb(240,240,240);
    --border: solid 1rem var(--col03);
}

h1{
    color: var(--col02);
    border: var(--border);
    border-style: dashed dotted;
    border-radius: 40rem;
    height: 10rem;
    background-image: radial-gradient( red, blue);
}


#background-video1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

#background-video2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

#background-video3 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  transition: opacity 0.3s ease-out;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    background-color: rgb(117, 116, 59);

}
div {
    margin: 24px auto;
    padding: 24px;
    background-color: rgba(159, 130, 130, 0);
    opacity: 1;
    width: 60%;
    height: 60%;
    text-align: center;
}
input {
    width: 100%;
}
span {
    color: rgba(255, 255, 255, 0);
}


input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border: 1px solid;
    background-color: #0066FF;
    margin: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid;
    background-color: #FFF;
  }

  .rangeInput[type="value"]{
    background-color: color-mix(in srgb, #34c9eb, white);

  }

 datalist {
position: absolute;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 0;
  background-color: red;
  width: 10px;
  position: absolute;
}






.poem1 {
    max-width: 20%;
    max-height: 20%;
    display: block;
    padding-top: 1rem;
    padding-right: 1rem;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    
      }

      .poem2 {
        max-width: 20%;
        max-height: 20%;
        display: block;
        padding-top: 1rem;
        padding-left: 1rem;
        position: absolute;
        opacity: 1;
        transition: opacity 0.3s ease-out;
        
          }

          .poem3 {
            max-width: 20%;
            max-height: 20%;
            display: block;
            padding-top: 1rem;
            padding-right: 1rem;
            position: absolute;
            opacity: 1;
            transition: opacity 0.3s ease-out;
            
              }

              .poem4 {
                max-width: 20%;
                max-height: 20%;
                display: block;
                padding-top: 1rem;
                padding-right: 1rem;
                position: absolute;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                
                  }

                  .poem5 {
                    max-width: 20%;
                    max-height: 20%;
                    display: block;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    position: absolute;
                    opacity: 1;
                    transition: opacity 0.3s ease-out;
                    
                      }
    
